[user]
	name = David Morrison
	email = drmorr@evokewonder.com
[alias]
	hist = !git --no-pager log --oneline --graph -n 20 --decorate
	show-tag = !sh -c 'git rev-list $0 | head -n 1 && git tag $0 -n1 -l'
	co = checkout
	pick = cherry-pick
	stat = status
	amend = commit --amend
    m = merge --ff
    repush = push -f origin HEAD
    pdff = diff HEAD~1  HEAD
    new = checkout -b
    prom = pull --rebase origin master
    p = push origin HEAD
    cm = commit -a -m 
[push]
	default = simple
[init]
	defaultBranch = master
[diff]
    external = difft
[rerere]
	enabled = true
