[user]
	name = David Morrison
	email = drmorr@evokewonder.com
[core]
    excludesFile = ~/.gitignore_global
[alias]
	hist = !git --no-pager log --oneline --graph -n 20 --decorate
	show-tag = !sh -c 'git rev-list $0 | head -n 1 && git tag $0 -n1 -l'
	co = checkout
	pick = cherry-pick
	st = status
    a = add
	amend = commit --amend
    m = merge --ff
    rb = rebase
    rp = push -f origin HEAD
    pdff = diff HEAD~1  HEAD
    new = checkout -b
    prom = pull --rebase origin master
    p = push origin HEAD --tags
    br = branch
    cm = commit -a -m
    d = diff
[push]
	default = simple
[init]
	defaultBranch = master
[diff]
    external = difft
[rerere]
	enabled = true
[merge]
	conflictStyle = zdiff3
[status]
	submoduleSummary = true
[submodule]
	recurse = true
