
set default-terminal "xterm-256color"
{{ if eq .term "alacritty" }}
set -ga terminal-overrides ",alacritty:Tc"
{{ end }}

# Use vim keybindings
set-window-option -g mode-keys vi

# 1 is easier to reach than 0
set -g base-index 1

unbind C-b
set -g prefix C-a
bind-key C-a send-prefix

# Navigation

bind e previous-window
bind f next-window
bind j select-pane -D
bind k select-pane -U
bind h select-pane -L
bind l select-pane -R
bind | split-window -h
bind - split-window -v

# Reload conf file
bind C-R source ~/.tmux.conf
bind r refresh-client

set-option -g renumber-windows on
set -g focus-events on
set -s escape-time 0  # no delay on esc in vim
